nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.6));
}

nav a:link, a:visited {
  color: #FF6600;
}

nav a:hover, a:active {
  color: #C64F00;
}

.socialmedia {
  margin-top: 20%;
}

.nav-logo {
  width: 100%;
  height: auto;
  margin-left: 0.7rem;
}

.navbar-brand {
  width: 4%;
  height: auto;
}

.navbar {
  padding: 0 !important;
}

header > nav > div > ul > li {
  margin-right: 3rem;
  margin-left: 1rem;
}

header > nav > div > ul > li > a > h5 {
  margin-top: 8px !important;
}

@media all and (max-width: 1255px) {
  .nav-logo {
    width: 125%;
    height: auto;
  }
}

@media all and (max-width: 987px) {
  .nav-logo {
    width: 185%;
    height: auto;
  }
}

@media all and (max-width: 768px) {
  .navbar-brand {
    display: none;
  }

  header > nav > div > ul > li {
    margin-right: auto;
    margin-left: auto;
  }
}
